---
layout: default
title: Ice Cream Catering in DMV
description: Book an event and let the ultimate ice cream exprience come to you. We offer a variety of services and products to fit your needs. Check it out.
mainimages:
  - image_path: /images/catering/1.jpg
  - image_path: /images/catering/2.jpg
  - image_path: /images/event/7.jpg
  - image_path: /images/catering/4.jpg

---
<div style="background-image: url(/images/bg-white.jpg);">


<!-- Catering Form -->


	<section class="section">
		<div class="container">

<div class="columns">

<div class="column">
      <h1 class="title is-3">
        Ice Cream Catering In the DMV Area
      </h1>
      <p class="subtitle is-5">We provide services for corporate events, weddings, baby showers, fundraisers, graduation parties, and more.</p>
<br>
      <p class="title is-6">Email us at catering@coldstonedmv.com by filling out the form on this page.</p>
      <div class="column">
	<img class="lozad" style="max-width: 100%;" data-src="/images/catering-1.jpg">
</div>
</div>

<div class="column">

<!-- Start Form -->
	<form class="form" name="coldstonedmv-catering-form" method="POST" data-netlify="true">
		<h2 class="title is-4">Tell Us About Your Event</h2>
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" name="name" placeholder="Your Name">
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input class="input" type="email" name="email" placeholder="Your Email">
  </div>
</div>

<div class="field">
  <label class="label">Phone</label>
  <div class="control">
    <input class="input" type="tel" name="phone" placeholder="Your Phone Number">
  </div>
</div>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" name="message" placeholder="Your Message"></textarea>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button type="submit" class="button is-primary is-large">Submit</button>
  </div>
</div>

</form>

</div>

<!-- End Form -->
</div>

</div>

</div>


</section>
</section>

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h2 class="title is-2">
        Our Catering Services
      </h2>
      <p class="subtitle">
        We offer a wide variety of services to ensure you get the ultimate ice cream experience at your event
      </p>
    </div>
  </div>
</section>

<section class="section" style="background-image: url(/images/bg-white.jpg);">
	<div class="container">
	<h3 class="title">
		Sundae Bars
	</h3>
	<p> Our amazing crew will assist your gets in creating their own masterpiece. Our sundae bar includes almost any combination of ingredients you can think of. Chocolate chips, fruit, cookie dough, and more all mixed in with our iconic ice cream.
	</p>
	<br>
	<h3 class="title">
		Cakes
	</h3>
	<p> Make your event unique with a Cold Stone Cake! Choose a Signature Cake, or customize your own.
	</p>
	<br>
	<h3 class="title">
		Mini-Novelties
	</h3>
	<p> Our new Mini-Novelties are bite size treats available 5 different designs. Available in 25, 50, or custom order.
	</p>
</div>
</section>

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h2 class="title is-2">
        Featured Events
      </h2>
      <p class="subtitle">
        See photos of our events and picture your own event with the best ice cream!
      </p>
    </div>
  </div>
</section>

<!--<section class="section">
    <div class="container">
<ul class="photo-gallery">
  {% for image in page.images %}
    <li><img src="{{ image.image_path }}" alt="{{ image.title}}"/></li>
  {% endfor %}
</ul>
</div>


</section> -->

<section class="section">
  <div class="container">

  <div class="columns">
    {% for image in page.mainimages %}
      <div class="column">
    <img class="lozad" src="" data-src="{{ image.image_path }}" alt="{{ image.title}}"/>
      </div>
  {% endfor %}

</div>

</div>
  
</section>
	
</div>

<script type="text/javascript">
  const observer = lozad(); // lazy loads elements with default selector as '.lozad'
observer.observe();
</script>



