<header>
	<div class="container">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.baseurl }}/">
      <img src="/images/logo.png" width="224" height="58">
    </a>
<a class="navbar-item is-hidden-desktop" href="https://twitter.com/coldstonedmv" target="_blank">
          <span class="icon" style="color: #55acee;">
            <i class="fab fa-twitter fa-lg"></i>
          </span>
      </a>

      <a class="navbar-item is-hidden-desktop" href="https://twitter.com/coldstonedmv" target="_blank">
          <span class="icon" style="color: #3b5998;">
            <i class="fab fa-facebook fa-lg"></i>
          </span>
      </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/locations" class="navbar-item">
        Locations
      </a>
  </div>

    <div class="navbar-end">

      <a class="navbar-item is-hidden-touch is-hidden-desktop-only" href="https://twitter.com/coldstonedmv" target="_blank">
          <span class="icon" style="color: #55acee;">
            <i class="fab fa-twitter fa-lg"></i>
          </span>
      </a>

      <a class="navbar-item is-hidden-touch is-hidden-desktop-only" href="https://facebook.com/coldstonedmv" target="_blank">
          <span class="icon" style="color: #3b5998;">
            <i class="fab fa-facebook fa-lg"></i>
          </span>
      </a>

      <div class="navbar-item">
        <div class="buttons">
          <a href="/catering" class="button is-primary">
            Get Catering
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>

  	</div>
</header>