<header>
	<div class="container">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.baseurl }}/">
      <img src="/images/logo.png" width="224" height="58">
    </a>
<div class="navbar-item is-hidden-desktop" target="_blank">
           <span class="icon" style="">
            <a style="color:#F56040;" href="https://instagram.com/coldstonedmv" target="_blank"> <i class="fab fa-instagram fa-lg"></i>
          </a></span>
      </div>

      <div class="navbar-item is-hidden-desktop" target="_blank">
          <span class="icon" style="color: #3b5998;">
            <a href="https://facebook.com/coldstonedmv" target="_blank"> <i class="fab fa-facebook fa-lg"></i>
          </a></span>
      </div>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <a href="/locations" class="navbar-item">
        <i class="fas fa-location-arrow"></i>&nbsp;&nbsp;Locations
      </a>
      <a href="/gallery" class="navbar-item">
        <i class="fas fa-images"></i>&nbsp;&nbsp;Event Gallery
      </a>
  </div>

    <div class="navbar-end">

      <div class="navbar-item is-hidden-touch is-hidden-desktop-only" href="https://instagram.com/coldstonedmv" target="_blank">
          <span class="icon" style="">
            <a style="color:#F56040;" href="https://instagram.com/coldstonedmv" target="_blank"> <i class="fab fa-instagram fa-lg"></i>
          </a></span>
      </div>

      <div class="navbar-item is-hidden-touch is-hidden-desktop-only" href="https://facebook.com/coldstonedmv" target="_blank">
          <span class="icon" style="color: #3b5998;">
            <a href="https://facebook.com/coldstonedmv" target="_blank"> <i class="fab fa-facebook fa-lg"></i>
          </a></span>
      </div>

      <div class="navbar-item">
        <div class="buttons">
          <a href="/catering" class="button is-primary">
            Get Catering
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>

  	</div>
</header>